<!DOCTYPE HTML>
 
<html>
<head>
	  <title>Spring Boot - Angularjs Example</title>
	  <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	  <script>
	  
	  var app = angular.module('app', []);
	  app.controller('postcontroller', function($scope, $http, $location) {
	  	$scope.submitForm = function(){
	  		var url = $location.absUrl() + "postcustomer";
	  		
	  		var config = {
	                  headers : {
	                      'Accept': 'text/plain'
	                  }
	          }
	  		var data = {
	              firstname: $scope.firstname,
	              lastname: $scope.lastname
	          };
	  		
	  		$http.post(url, data, config).then(function (response) {
	  			$scope.postResultMessage = response.data;
	  		}, function error(response) {
	  			$scope.postResultMessage = "Error with status: " +  response.statusText;
	  		});
	  		
	  		$scope.firstname = "";
	  		$scope.lastname = "";
	  	}
	  });
	   
	  app.controller('getcontroller', function($scope, $http, $location) {
	  	console.log("inside script");
	  	$scope.getfunction = function(){
	  		var url = $location.absUrl() + "getallcustomer";
	  		
	  		$http.get(url).then(function (response) {
	  			$scope.response = response.data
	  		}, function error(response) {
	  			$scope.postResultMessage = "Error with status: " +  response.statusText;
	  		});
	  	}
	  });
	  
	  </script>
</head>
<body>
 
<div class="container" ng-app="app">
 
	<h3 style="color:blue">Http Angularjs With SpringBoot Example</h3>
	
	<div ng-controller="postcontroller">
		<form class="form-horizontal" name="customerForm" ng-submit="submitForm()">
			<div class="form-group">
				<label class="control-label col-sm-2" for="firstnameID">FirstName:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="firstname" id="firstnameID"
						placeholder="Enter FirstName" ng-model="firstname"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="lastnameID">LastName:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="lastname" id="lastnameID"
						placeholder="Enter LastName" ng-model="lastname"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
 
		<div class="col-sm-offset-2 col-sm-10">
			<p>{{postResultMessage}}</p>
		</div>
	</div>
	
	<div class="col-sm-offset-2 col-sm-10" ng-controller="getcontroller">
		<button id="btn-id" type="button" class="btn btn-primary" ng-click="getfunction()">Get All Customers</button>
		<ul>
        	<li ng-repeat="cust in response">{{cust.firstname + " " + cust.lastname}}</li>
    	</ul>
	</div>
	
</div>
</body>
</html>